* {
    box-sizing: border-box;
    color: white;
    margin: 0;
    border-radius: 6px;
    font-weight: bold;
}

body {
    background-color: blue;
    
}

div {
    position:absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: fit-content;
    width: 90vw;
    margin: auto;
    border: 3px solid rgb(206, 24, 24);
    box-shadow: 3px 3px 3px white;


}

.form-login {
  
    border: 3px solid rgb(24, 206, 36);
    box-shadow: 3px 3px 3px white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: auto;
}

.submit {
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    margin: 2px 0;
    font-size: 1.2rem;
    width: 300px;
}

input {
    color: black;
    width: 50%;
    text-align: center;
    margin: 2px 0;
}

textarea {
    width: 90%;
    height: 90%;
    margin: 2px 0;
    color: black;
}

h1 {
    margin: 2px 0;

}

select {
    margin: 2px 0;
    color: white;
    background-color: blue;
    width: 200px;
}

a {
    text-decoration: none;
    border: 2px solid white;
    margin: 7px;
    padding: 3px;

}